{% extends "pyEdu/base.html" %}

{% block header %}Az oldalról{% endblock %}

{% block jumbotron %}
<p>
Az oldal kurzusok kezelésére készül. Az Udacity.com weboldalhoz hasonló
felület kiaalkítása a cél, ahol
</p>
<ul>
    <li>videók magyarázzák el a tananyagot, és</li>
    <li>tesztek ellenőrzik a tudást.</li>
</ul>

<p>
Az oldal egyik fontos része (amiről az oldal a nevét is kapta) az a lehetőség
lesz, hogy olyan feladatot is ki lehessen adni, amelyben valamilyen Python
kódot kell megírni, és azt a weboldal egységtesztekkel emberi beavatkozás nélkül
ellenőrzi és pontozza. A weboldal a Python 3-as verziójának megfelelő kódokat vár a feladatok megoldásánál.
<a href="http://django.amk.uni-obuda.hu/segedletek/pyedu/pyEdu_pycodes.ogv">Erről egy kis némafilm látható itt</a>
</p>

<p>
<a
    href="http://arek.uni-obuda.hu/~horvatha/pyEdu_video/pyEdu/udacity_introduction.ogv">
Egy kisfilm látható itt</a> az Udacity általunk megcélzott tulajdonságairól.
</p>

<p>
Az oldal <a href="http://djangoproject.com">a django webkeretrendszert</a> használja.
</p>

<p>
Az oldallal kapcsolatos észrevételeit megírhatja, az projekt vezetőjének, <span class="author">Horváth Árpádnak</span>.
</p>
<p>
<a href="http://privat.amk.uni-obuda.hu/harp/elerhetoseg.html" class="btn btn-warning btn-lg glyphicon glyphicon-earphone" role="button"> Horváth Árpád elérhetőségei</a>
</p>
{% endblock jumbotron %}

{% block content %}
<h2>
A projekt résztvevői
</h2>

<ul>
    <li><span class="author">Horváth Árpád</span>: a projekt vezetője, az <em>Összetett hálózatok vizsgálata</em> kurzus fejlesztése</li>
    <li><span class="author">Hegyi Tímea</span>: kurzusok, autentikáció, kérdés-válasz oldal</li>
    <li><span class="author">Vass Ildikó</span>: videókat megjelenítő oldalak, egy- és többválasztásos tesztek</li>
    <li><span class="author">Pallanik Anita</span>: diákok által beküldött Python-kód ellenőrzése egységtesztekkel</li>
    <li><span class="author">Brunner Balázs</span>: videók készítése, konvertálása</li>
</ul>
{% endblock content %}
