{% load staticfiles %}
<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{% static "pyEdu/pyEdu.png" %}">

    <title>pyEdu{% block title %}{% endblock %}</title>

    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'pyEdu/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pyEdu/css/video.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pyEdu/css/code.css' %}">
    <!-- Bootstrap core CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static "pyEdu/bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "pyEdu/css/theme.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
    {% block navbar %}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "about" %}">pyEdu</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "courses_index" %}">Kurzusok</a></li>

        {% if user.username == 'admin' %}
            <li><a href="{% url "courses_index" %}../admin/">Admin</a></li>
        {% endif %}
	{% if user.is_authenticated %}
            <li class="dropdown" style="position:absolute; right:100px;">
              <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown"> {{user.last_name}} {{user.first_name}}
                  <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if user.username != "anonymous" %}
                  <li><a href="{% url "score" %}">
                          <span class="glyphicon glyphicon-certificate"></span> Pontjaim
                      </a>
                  </li>
                  <li class="divider"></li>
                {% endif %}
                <li><a href="{% url "logout" %}">
                        <span class="glyphicon glyphicon-log-out"></span> Kijelentkezés
                    </a>
                </li>
              </ul>
            </li>
        {% else %}
            <li style="position:absolute; right:20px;"><a href="{% url "login" %}"><span
                    class="glyphicon glyphicon-log-in"></span> Bejelentkezés</a></li>
        {% endif %}

               <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
        -->
          </ul>
    {% endblock navbar %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            {% block before_header %}{% endblock %}
            <h2>{% block header %}{% endblock header %}</h2>
            {% block jumbotron %}{% endblock %}
        </div>

        <div class="content">
        {% block content %}
        {% endblock content %}
        </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "pyEdu/css/jquery.min.js" %}"></script>
    <script src="{% static "pyEdu/bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
