{% extends "courses/item.html" %}

{% block content %}
    <div class="choice_question">{{exercise.text}}</div>
<form method="post">{% csrf_token %}
    <div class="codetext"><pre><textarea id="txtar_code" name='code' rows="15" cols="60">{{answer}}</textarea></pre></div>
    <div id="button" ><input type="submit" value="Kód leadása" class="btn btn-warning btn-lg" /></div>
</form>
{% if error_message %}
<div class="error">
    <p> Program futása közben hiba lépett fel:</p>
{% if row_number %}
<p> A hiba {{row_number}}. sorban található.</p>
{% endif %}
<p> Hiba üzenete:</p>
<p> <pre>{{error_message}}</pre></p>
{% endif %}
</div>
<div class="unittest_error">
{% if number_of_test_cases %}
    <p><b>Elért pontszám:</b> {{score}} / {{max_score}}</p>

    <p><b>A feladaton lefutatott összes tesztek száma: {{number_of_test_cases}}</b></p>
    <p><b>A tesztekből ennyi hibásan futott le: {{number_of_errors}}</b></p>
    {% if error_docstrings %}
        <ol>{% for message in error_docstrings %}<li><b><pre> {{message}}</pre></b></li>{% endfor %}</ol>
    {% endif %}
    <p><b>A tesztekből ennyi sikertelenül futott le: {{number_of_failures}}</b></p>
    {% if failure_docstrings %}
        <ol>{% for message in failure_docstrings%}<li><b><pre> {{message}}</pre></b></li>{% endfor %}</ol>
    {% endif %}
{% endif %}
</div>
{% endblock content %}
