body {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #cf6706;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
.title{
    background-color: #fffaf0;
    color: #2f4f4f;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: solid 2px #a1a1a1;
    border-radius: 5px;
    padding: 5px;
}
.content{
    background-color:#eeeeee;
    border: solid 2px #484848;
    border-radius: 5px;
    padding: 5px;
}
.login{
    background-color: #fffaf0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: solid 2px #a1a1a1;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
}
.courses_list {
    padding: 10px 20px;
    text-align:left;
    text-decoration: none;
}
.description {
    background-color:#282828;
    color:#f0f0f0;
}
.disc_list{
    margin: 50px 10px;
}
.answer_list{
    color: #cf6706;
    font-weight: bold;
}
.answer_title{
    color: #484848;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 200%;
}
.answer_question{
    border: 2px solid #484848;
    border-radius: 2px;
    text-align: justify;
    margin: 10px 20px;
    padding: 0px 15px;
}
.answers{
    border: 2px solid #cf6706;
    border-radius: 2px;
    text-align: justify;
    margin: 10px 10px;
    padding: 0px 15px;
}
.answering{
    color: #cf6706;
    font-weight: bold;
    text-align: right;
}
