div.choice_question{
    margin: 20px 0px 0px 20px;
    font-size: 20px;
}
div.choice_choices{
    color: red;
}
div#videos_backg {
    background-color: white;
}
div#video_control {
    width: 800px;
    height: 630px;
    padding-bottom: 25px;
}
div#video {
    position: relative;
    top: 10px;
    left: 10px;
    width: 800px;
}
div#controls {
    bottom: 0;
}
div#v_buttons li.selected { background: none repeat scroll 0 0 #e82b34; }
div#v_buttons li:hover { height: 20px; }
