{% extends "pyEdu/base.html" %}
{% block title %} &ndash; {{course.title}}{% endblock %}

{% block jumbotron %}
<h2>{{course.title}}</h2>

{{course.description}}
{% endblock jumbotron %}

{% block content %}
<h2>Leckék</h2>

    {% for lesson in course.lesson_set.all %}
    {% if lesson.has_item %}
	<a href="{% url "lesson_detail" course.id lesson.serial %}">{{lesson.title}}</a><br />
    {% endif %}
    {% endfor %}


{% endblock content %}

