{% extends "pyEdu/base.html" %}

{% block header %}Kurzus vége{% endblock %}

{% block jumbotron %}
<p>A lecke végénél tart.</p>


<p><a href="{% url "course_detail" course.id %}" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-th-list"></span>  Visszamegyek a kurzushoz</a></p>

<p><a href="{% url "score" %}" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-certificate"></span>   Megnézem a pontjaimat</a></p>
{% endblock jumbotron %}
