{% extends "pyEdu/base.html" %}
{% block title %} &ndash; Kurzusok{%endblock%}

{% block header %}Kurzusok{% endblock %}

{% block jumbotron %}
{% if user.is_authenticated %}
A kurzus nevére kattintva beléphet a kívánt kurzusba.
{% else %}
Üdvözöljük az oldalon!
Az egyes kurzusok tananyagait bejelentkezés után lehet megtekinteni.
{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
	{% if courses %}
    <div class="courses_list">
    <table style="border: 0; width: 100%">
        <tr><th>Kurzus</th><th></th><th>Kurzusleírás</th>{% if user.username == 'admin' %}<th style="padding:15px">Aktív hallgatók<br/>(oldottak meg tesztet)</th>{%endif%}</tr>
	{% for course in courses %}
		    <tr>
			<td style="width:150px;"><a href="{% url "course_detail" course.id %}">{{course.title}}</a></td>
			<td><button type="button" class="description"
	       data-toggle="collapse"
	       data-target="#desc{{course.id}}">Leírás</button></td>
			<td><div id="desc{{course.id}}" class="collapse out">
				{{course.description}}
                </div></td>
                {% if user.username == 'admin' %}<td style="padding-left:15px">
                {{course.active_users_number}}
                </td>{% endif %}
        </tr>
    {% endfor %}
    </table>
	    </div>
        {% else%}

        Nincsenek kurzusok a rendszerben.
        {% endif %}
    </div>
{% endblock content %}
