{% extends "pyEdu/base.html" %}

{% block header %} Bejelentkezés {% endblock header %}
{% block jumbotron %} <p>A kurzusok nem publikus leckéinek
megtekintéséhez be kell jelentkezni.</p> <p>A KMOOC-osok az ottani
email-címükkel és egy a hallgatói fórumban megkapott T kezdetű jelszóval
léphetnek be.</p> {% endblock jumbotron %}
{% block content %}

{% if form.errors %}
<p>A felhasználónév vagy a jelszó nem megfelelő. Próbálja újra!</p>
{% endif %}

<div class="login">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<button type="submit" class="btn btn-warning login_btn">Belépés</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
