<li style="display:table-cell;border:1px solid #000;padding:4px">
<a title="{{xunit.title}}" href="{% url "unit" xunit.lesson.course.id xunit.lesson.serial xunit.serial %}"
    {% if xunit == unit %}style="background:orange;"{%endif%}>
    <span class="glyphicon glyphicon-{% if xunit.has_exercise %}pencil">&nbsp;{%else%}">{%endif%}
	{% if xunit.lesson.unit_set.count < 4 %} {{xunit.title|truncatechars:30}}
	{% elif xunit.lesson.unit_set.count < 6 %} {{xunit.title|truncatechars:25}}
	{% elif xunit.lesson.unit_set.count < 8 %} {{xunit.title|truncatechars:15}}
	{% elif xunit.lesson.unit_set.count < 12 %} {{xunit.title|truncatechars:10}}
	{% elif xunit.lesson.unit_set.count < 16 %} {{xunit.title|truncatechars:8}}
	{%else%} {{xunit.title|truncatechars:4}}
	{%endif%}</span>
</a>
</li>
