{% extends "pyEdu/base.html" %}

{% block before_header %}<p>
<a href="{% url 'course_detail' unit.lesson.course.id %}">{{unit.lesson.course.title}}</a> /
<a href="{% url 'lesson_detail' unit.lesson.course.id unit.lesson.serial %}">{{unit.lesson.title}}</a></p>
{% endblock before_header %}

{% block header %}
{{unit.title}}
{% endblock header %}

{% block jumbotron %}<ol style="display:table;">{% for xunit in unit.lesson.unit_set.all %}
{% if xunit.has_item %}{% include "courses/navigation_unit.html" %}{%endif%}
{% endfor %}</ol>
{% if next_item %}
    <a id="next" href="{% url "item" next_item.unit.lesson.course.id next_item.unit.lesson.serial next_item.unit.serial next_item.type %}" class="btn btn-warning btn-lg" role="button">Tovább</a>
{% else %}
    <a id="next" href="{% url "end_of_course" unit.lesson.course.id %}" class="btn btn-warning btn-lg" role="button">Tovább</a>
    {% endif %} &nbsp; &nbsp;

    {% block note %}{% endblock note %}
{% endblock jumbotron %}
