{% extends "pyEdu/base.html" %}


{% block jumbotron %}
    <h2>Pontjaim</h2>
{% endblock jumbotron %}


{% block content %}
{% if not user.get_scores %}
    <p>Nincs egy kurzushoz sem pontod még.</p>
{% else %}
    <p>A következő kurzusokban szereztél már pontot.</p>
    {% for course, sum_score in user.get_scores %}
        <p>{{course.title}}: {{sum_score|floatformat:-2}} pont / {{course.max_score}} pont</p>
    {% endfor %}

<a href="{% url 'get_diploma' %}" class="btn btn-warning btn-lg" role="button">Hozd létre az oklevelet!</a>
<a href="{{MEDIA_URL}}diploma/diploma_{{user.username}}.pdf" target="_blank" class="btn btn-warning btn-lg" role="button">Töltsd le az oklevelet!</a>
{% endif %}
{% endblock content%}
