{% extends "pyEdu/base.html" %}
{% block title %} &ndash; Kérdésfelvetés ehhez: {{unit.title}}{% endblock %}

{% block jumbotron %}
<h2>Kérdezzen a unithoz</h2>

<div class="answer_list">A unit címe: {{unit.title}}</div>
{% endblock jumbotron %}

{% block content %}
<form method="post" action="">{% csrf_token %}
<table style="width:100%;">
    <tr><td>{{form.as_table}}</td></tr>
</table>
<input type="submit" value="Beküldés" class="btn btn-warning btn-lg" role="button"/>
</form>
{% endblock content %}

