{% extends "pyEdu/base.html" %}
{% load tz %}

{% block jumbotron %}
<div class="answer_title">{{discussion.summary}}</div>
<div class="answer_list">Kérdezte: {{discussion.user.get_name}}<br />
{{discussion.timestamp}}</div>

<a href="{{discussion.unit.get_absolute_url}}" class="btn btn-warning btn-lg" role="button">Vissza a leckéhez</a>
{% endblock jumbotron %}

{% block content %}
<div class="answer_question">{{discussion.question}}</div>
<div class="disc_list">
    {% for answer in discussion.answer_set.all %}
    <div class="row answers">
	<div class="col-xs-4 col-sm-6 answering">{{answer.user.get_name}}</div>
    <div class="col-xs-8 col-sm-6 answering">{{answer.timestamp|localtime|date:"Y.m.d. H:i:s"}}</div>
	<div class="row">
	    <div class="col-sm-12">
		{{answer.text}}
	    </div>
	</div>
    </div>
    {% endfor %}
</div>

<div>
    <form method="post" action="">{% csrf_token %}
	<table>
	    <tr><td>{{form.as_table}}</td></tr>
	    <tr><td></td><td style="text-align:right;"><input type="submit" value="Válaszom!"  class="btn btn-warning btn-lg" role="button"/></td>
	    </tr>
	</table>
    </form>
</div>
{% endblock content%}
