{% load tz %}
{% block content %}
    <table class="table table-hover">
	{% for discussion in unit.discussion_set.all %}
	<tr>
	    <td class="warning"><a href="{% url "discussion_details" discussion.id %}">{{ discussion.summary }}</a></td>
	    <td class="warning">{{ discussion.user.get_name }}</td>
        <td class="warning">{{ discussion.timestamp|localtime|date:"Y.m.d. H:i:s"}}</td>
	    <td class="warning">{{ discussion.answer_set.count }}
		válasz</td></tr>
	{% endfor %}
    </table>
{% endblock content %}
