{% extends "courses/item.html" %}
{% load staticfiles %}

{% block content %}
    {% if error_message %}<p id="error">{{error_message}}</p>{% endif %}
    <form method="POST">
    <div class="choice_question">{{choice.text}}</div>
    {% if answer_list %}
    <div class="choice_choices">
    Válassza ki a helyes válasz{% if choice.is_multiple %}oka{% endif %}t!
        <ol type="a">
        {% for answer in answer_list %}
        <li>
            <input {% if choice.is_multiple %}type="checkbox" name="answer{{answer.id}}"{% else %}type="radio" name="answer" value="{{ answer.id }}"{% endif %}
                    id="answer{{answer.id}}">  {{answer.text}}
        </li>{% endfor %}
        </ol>
        <p><input type="submit" value="Feladat leadása" class="btn btn-warning btn-lg"/></p>
    </div>
        {% csrf_token %}
    </form>
    {% else %}
        <p>Nincsenek válaszlehetőségek, a hibát jelezze a kurzus fejlesztőjének.</p>
    {% endif %}
{% endblock %}
