{% extends "courses/navigation.html" %}

{% block content %}
<p><span style="font-weight:bold;">Elért pontszám:</span> {{score}} / {{unit.max_score}}</p>
<div id="videos">
    <ol type="a">
    {% for text, state in answer_status_list %}
    <li>
        <input type="{{input_type}}" disabled {% if state != 'not_selected' %}checked="checked"{% endif %}>
        {{ text }}
        {% if state == 'true' %}
                <span class="glyphicon glyphicon-ok" style="color:green;"  title="A válasz helyes">  </span>
                <br />
        {% elif state == 'false' %}
                <span class="glyphicon glyphicon-remove"
                            style="color:red;" title="A válasz helytelen">  </span><br />
        {% endif %}
    </li>
    {% endfor %}
    </ol>
</div>
{% endblock content %}
