{% extends "courses/item.html" %}
{% load staticfiles %}

{% block content %}
<div id="videos_backg">
    <div id="video_control">
        <div id="video">
            <video width="800" height="600" controls autoplay>
            <source src="{{video.url}}{{video.file_name}}.ogv" type="video/ogg">
            <source src="{{video.url}}{{video.file_name}}.mp4" type="video/mp4">
            <source src="{{video.url}}{{video.file_name}}.webm" type="video/webm">
            </video>
        </div>
    </div>
</div>
{% if not unit.lesson.public or user.is_authenticated %}
	<a href={% url "create_discussion" unit.id %} class="btn btn-warning btn-lg" role="button">Kérdezek!</a>
    <div class="disc_list">
	{% include "discussions/discussion_list.html" %}
	</div>
{% endif %}
{% endblock content %}
